.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

.container{
    max-width: 955px;
    background-color: red;
    margin: auto;
    height: 60vh;
}

.message{
    background-color: rgb(14, 233, 14);
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid rgb(8, 78, 8);
    border-radius: 8px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

body{
    height: 100vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(109, 39, 239));
}